<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../inc_head'); %>
    <title>Admin - Customers / StarShop</title>
  </head>

  <body>
    <!-- Navbar -->
    <%- include('inc_navbaradmin'); %>
    <!-- Main content -->
    <main role="main" class="container pt-4">
      <div class="jumbotron bg-white">
        <div id="page-content">
          <h1>Customers</h1>
          <p>[ HERE A LIST OF CUSTOMERS SHOULD BE ]</p>
        </div>
      </div>
    </main>

    <!-- Footer -->
    <footer class="text-center bg-white">
      <%- include('../inc_footer'); %>
    </footer>

    <%- include('../inc_jsbottom'); %>
  </body>
</html>
