<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../inc_head'); %>
    <title>Admin - Dashboard / StarShop</title>
  </head>

  <body>
    <!-- Navbar -->
    <%- include('inc_navbaradmin'); %>
    <!-- Main content -->
    <main role="main" class="container pt-4">
      <div class="jumbotron bg-white">
        <div id="page-content">
          <h1 class="text-center">Welcome to Dashboard, Admin!</h1>
          <p class="text-center">What would you like to do today?</p>

          <div class="row">
            <div class="col-xl-6">
              <div class="card p-2 growsm">
                <div class="card-body">
                  <h3>
                    <i class="bi bi-people-fill text-danger"></i>
                    Customers
                  </h3>
                  <p>I want to look at the customer list!</p>
                  <a href="/admin/customers" class="btn btn-primary grow"
                    >Go to <i class="bi bi-arrow-right"></i
                  ></a>
                </div>
              </div>
            </div>
            <div class="col-xl-6">
              <div class="card p-2 growsm">
                <div class="card-body">
                  <h3><i class="bi bi-list-ul text-danger"></i> Orders</h3>
                  <p>I want to look at orders!</p>
                  <a href="/admin/orders" class="btn btn-primary grow"
                    >Go to <i class="bi bi-arrow-right"></i
                  ></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>

    <!-- Footer -->
    <footer class="text-center bg-white">
      <%- include('../inc_footer'); %>
    </footer>

    <%- include('../inc_jsbottom'); %>
  </body>
</html>
