<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('inc_head'); %>
    <title>Start / X</title>
  </head>

  <body>
    <!-- Navbar -->
    <%- include('inc_navbar'); %>
    <!-- Main content -->
    <main role="main" class="container pt-4">
      <div class="jumbotron bg-white">
        <div id="page-content">

            <h1>404</h1>
            <p>Page does not exist.</p>
            <a class="btn btn-primary" href="/">Go to Home</a>

        </div>
      </div>
    </main>

    <!-- Footer -->
    <footer class="text-center bg-white">
      <%- include('inc_footer'); %>
    </footer>

    <%- include('inc_jsbottom'); %>  
  </body>
</html>