<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('inc_head'); %>
    <title>Start / StarShop</title>
  </head>

  <body>
    <!-- Navbar -->
    <%- include('inc_navbar'); %>
    <!-- Main content -->
    <main role="main" class="container pt-4">
      <div class="jumbotron bg-white">
        <div id="page-content">
          <h1 class="text-center">Welcome to StarShop!</h1>
          <p class="text-center">
            You need to login to browse and buy our star products.
          </p>
          <div class="row">
            <div class="col-xl-6">
              <div class="card p-2 growsm">
                <div class="card-body">
                  <h3>
                    <i class="bi bi-box-arrow-right text-danger"></i> Login
                  </h3>
                  <p>I want to login!</p>
                  <a href="/login" class="btn btn-primary grow"
                    >Go to <i class="bi bi-arrow-right"></i
                  ></a>
                </div>
              </div>
            </div>
            <div class="col-xl-6">
              <div class="card p-2 growsm">
                <div class="card-body">
                  <h3>
                    <i class="bi bi-person-fill-add text-danger"></i> Register
                  </h3>
                  <p>I want to register!</p>
                  <a href="/register" class="btn btn-primary grow"
                    >Go to <i class="bi bi-arrow-right"></i
                  ></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>

    <!-- Footer -->
    <footer class="text-center bg-white"><%- include('inc_footer'); %></footer>

    <%- include('inc_jsbottom'); %>
  </body>
</html>
