<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('inc_head'); %>
    <title>Start / StarShop</title>
  </head>

  <body>
    <!-- Navbar -->
    <%- include('inc_navbar'); %>
    <!-- Main content -->
    <main role="main" class="container pt-4">
      <div class="jumbotron bg-white">
        <div id="page-content">
          <h1>Welcome to StarShop!</h1>
          <p>You need to login to browse and buy our star products.</p>
        </div>
      </div>
    </main>

    <!-- Footer -->
    <footer class="text-center bg-white"><%- include('inc_footer'); %></footer>

    <%- include('inc_jsbottom'); %>
  </body>
</html>
