<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../inc_head'); %>
    <title>My Cart / StarShop</title>
  </head>

  <body>
    <!-- Navbar -->
    <%- include('inc_navbaruser'); %>
    <!-- Main content -->
    <main role="main" class="container pt-4">
      <div class="jumbotron bg-white">
        <div id="page-content">
          <h1>My cart</h1>
          [ CART ITEMS LISTED HERE ]
        </div>
      </div>
    </main>

    <!-- Footer -->
    <footer class="text-center bg-white">
      <%- include('../inc_footer'); %>
    </footer>

    <%- include('../inc_jsbottom'); %>
  </body>
</html>
